<!DOCTYPE html>
<html ng-app="app">

	<head>
		<meta charset="UTF-8">
		<title></title>		
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
		<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="stylesheet" href="../../css/bootstrap.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<script src="../../js/angular.js" type="text/javascript" charset="utf-8"></script>			
		<script src="../../js/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<link rel="stylesheet" href="../../js/angular-toastr/angular-toastr.min.css" />
		<script src="../../js/angular-toastr/angular-toastr.min.js"></script>
		<script src="../../js/angular-toastr/angular-toastr.tpls.min.js"></script>
		
		<script src="../../js/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="../../js/select/select.css">
		<link rel="stylesheet" href="../../js/select/jquery.mCustomScrollbar.min.css" />
		<script src="../../js/select/jquery.mCustomScrollbar.concat.min.js"></script>
		<script src="../../js/select/jquery.select.js"></script>
		
		<link rel="stylesheet" href="../../js/select/style.css" />
		<link href="../../js/select/font-awesome.min.css" />
		<script type="text/javascript" src="../../js/select/select.jquery.js" ></script>
		<script src="../../js/common.js"></script>
		<script src="../../js/vconsole.min.js"></script>
		<script src="../../js/jquery.nicescroll.min.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.js" ></script>
		<script type="text/javascript" src="../../js/app.js" ></script>
		<script src="../../js/controllers/setClassController.js"></script>
		
	</head>
	<style type="text/css">
		body{
			position: relative;
		}
	</style>
	<body class="bg clearfix" ng-controller="setClassCtrl">
		<div ng-show="!isSign" >
			<div class="header clearfix">
				<div class="pull-left">
					<a class="btn btnfff" class="mr25">{{curclassName}}</a>
				</div>
				<div class="pull-right">
					<!--<a href="../../page/answermoudle/userAttend.html" ng-click="signIn()">-->
					<button class="btn whitebtn mr25"  ng-click="signIn()">
					</button>
					<!--</a>-->
				</div>				
			</div>
			<div class="content text-center">
				<button class="btn circlefff" class="mr25" ng-click="stopClass()">下课</button>
			</div>
		  	<div class="block">
		  	<ul class="col-4">
		  		<li>
		  			<a href="../../page/answermoudle/answermoudle.html">
		  				<img src="../../image/answer.png" />
		  				<span>答题</span>
		  			</a>
		  		</li>
		  		<li>
		  			<!--<a href="../../page/answermoudle/stopAnswer.html" ng-click="quickAnswer()">-->
	  				 <a href="javascript:;" ng-href={{objectUrl}} ng-click="quickAnswer()"> 
		  				<img src="../../image/quickanswer.png" />
		  				<span>抢答</span>
		  			</a>
		  		</li>
		  		<li>
		  			<a href="../../page/answermoudle/setMarkmoudle.html">
	  				<!--<a href="javascript:;" ng-href={{MarkobjectUrl}} ng-click="skipMark()">-->
		  				<img src="../../image/mark.png" />
		  				<span>评分</span>
		  			</a>
		  		</li>
		  		<li>
		  			<a href="../../page/answermoudle/setvotemoudle.html">
		  				<img src="../../image/vote.png" />
		  				<span>投票</span>
		  			</a>
		  		</li>
		  	</ul>
		  	</div>
		  	</div>
		<div ng-show="isSign" ng-controller="userAttendCtrl">
			<div class="header clearfix">
				<div class="pull-left">
					<img src="../../image/menu.png" class="ml25 pt20" />
					<span class="mr10">人员列表</span>
				</div>
				<div class="pull-right">
					<a href="javascript:;" ng-click="returnPage()">
					<img src="../../image/return.png" class="rebtn"/>
					<!--<img src="../../image/return.png" ng-click="returnPage()"/>-->
					</a>
				</div>
			</div>
			<div class="content content1 clearfix" style="margin: 0;padding: 0;">
				<div class="modboxs clearfix " style="margin: 0.0rem 0.05rem;padding: 0;position: absolute;left: 0.18rem;">
					<div class="box" ng-repeat="item in studentAttendList track by $index" ng-class="{'YES':'green','NO':'' }[item.status]">
						{{item.studentName}}
					</div>
			  	</div>
			</div>
			<div id="refresAttendance" ng-click="refresAttendance()" style="display:none"></div>
		</div>
	</body>

</html>