<!DOCTYPE html>
<html ng-app="app">

	<head>
		<meta charset="UTF-8">
		<title></title>		
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
		<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="stylesheet" href="../../css/bootstrap.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<script src="../../js/angular.js" type="text/javascript" charset="utf-8"></script>			
		<script src="../../js/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<link rel="stylesheet" href="../../js/angular-toastr/angular-toastr.min.css" />
		<script src="../../js/angular-toastr/angular-toastr.min.js"></script>
		<script src="../../js/angular-toastr/angular-toastr.tpls.min.js"></script>
		
		<script src="../../js/jquery-1.11.1.min.js"></script>
		<!--<link rel="stylesheet" href="../../js/select/select.css">
		<link rel="stylesheet" href="../../js/select/jquery.mCustomScrollbar.min.css" />
		<script src="../../js/select/jquery.mCustomScrollbar.concat.min.js"></script>
		<script src="../../js/select/jquery.select.js"></script>-->
		
		<link rel="stylesheet" href="../../js/select/style.css" />
		<link href="../../js/select/font-awesome.min.css" />
		<script type="text/javascript" src="../../js/select/select.jquery.js" ></script>
		<!--<script src="../../js/select/jquery.select.js"></script>-->
		<script src="../../js/common.js"></script>
		<script src="../../js/vconsole.min.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.js" ></script>
		<script type="text/javascript" src="../../js/app.js" ></script>
		<script src="../../js/controllers/answerController.js"></script>
		
	</head>
	<body class="bg clearfix" ng-controller="classuserCheckCtrl">
			<div class="header clearfix">
				<div class="pull-left">
					<img src="../../image/check.png" class="ml25 pt20" />
					<span>检测</span>
				</div>
				<div class="pull-right">
					<button class="btn savebtn" class="mr5" ng-click="gatherPaper()">收取试卷</button>
				</div>
			</div>
			<div class="content bgf5 clearfix" style="margin: 0;">
				<div class="modbox clearfix ml20 mr20">
				<div class="progresscon clearfix" ng-repeat="item in AllanswerInfo track by $index">
					<p class="clearfix">
						<span class="pull-left">{{item.studentName}}</span>
						<span class="pull-right">{{item.percent*100}}%</span>
					</p>					
					<div class="progress mt5">
					    <div class="progress-bar" ng-style="{width:{{item.percent}}*100 +'%'}" style="width:'%';background: #7ee074;">{{item.percent*100}}%</div>	
					     <!--<div class="progress-bar" ng-style="{width:{{item.count}}*100/{{questionSum}}+'%'}" style="width:'%';background: green;">{{item.count*100/questionSum | number:1}}%</div>		-->
					 </div>
				</div>			
				<!--<div class="progresscon clearfix" >
					<p class="clearfix">
						<span class="pull-left">周丹</span>
						<span class="pull-right">10%</span>
					</p>					
					<div class="progress mt5">
					    <div class="progress-bar" ng-style="{width:{{10}}*100/{{100}}+'%'}" style="width:'%';background: #7ee074;"></div>		
					 </div>
				</div>-->
			  </div>
			</div>
			<div id="refreClassTest" ng-click="refreClassTest()" style="display:none"></div>
			<div ng-spinner-loader class="loading">
				<div class="spinner">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>
			</div>
	</body>

</html>
<script src="../../js/jquery.nicescroll.min.js"></script>
<script type="text/javascript">
	$(function(){
		var nice = $("html").niceScroll();  // The document page (body)
	 	$("#answerlist").niceScroll({cursorborder:"",cursorcolor:"#d9d9d9",boxzoom:true}); // First scrollable 	
		$('.head ul li a').click(function(){
			$('.head ul li a.active').removeClass('active'); 
			$(this).addClass('active');
		})
	})
</script>
