<!DOCTYPE html>
<html ng-app="app">

	<head>
		<meta charset="utf-8" />
		<title>答题页面</title>
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
		<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="stylesheet" href="../../css/bootstrap.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<script src="../../js/angular.js" type="text/javascript" charset="utf-8"></script>			
		<script src="../../js/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<link rel="stylesheet" href="../../js/angular-toastr/angular-toastr.min.css" />
		<script src="../../js/angular-toastr/angular-toastr.min.js"></script>
		<script src="../../js/angular-toastr/angular-toastr.tpls.min.js"></script>
		<script src="../../js/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="../../js/select/style.css" />
		<link href="../../js/select/font-awesome.min.css" />
		<script type="text/javascript" src="../../js/select/select.jquery.js" ></script>
		<script src="../../js/jquery.nicescroll.min.js"></script>
		<script src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.js" ></script>
		<script type="text/javascript" src="../../js/app.js" ></script>
		<script src="../../js/controllers/setvoteController.js"></script>
		<!--<script src="../../js/controllers/uploadfileModalCtrl.js"></script>-->
		  <!--[if IE 8]>
        <script src="js/es5-shim.min.js"></script>        
    	<![endif]-->
	</head>
	<style type="text/css">
		body{
			position: relative;
		}
		.operatebtn{
			position: absolute;
			bottom: 0.50rem;
			left: 0;
			right: 0;
		}
	</style>
	<body class="bg" ng-controller="voteCtrl">
			<div class="header clearfix">
				<div class="pull-left">
					<img src="../../image/start_vote.png" class="ml25 pt20" />
					<span>投票表决</span>
				</div>
				<div class="pull-right">
					<img src="../../image/return.png" ng-click="returnPage()"/>
				</div>
			</div>
			<div class="content bgf5 clearfix">		
				<form class="form-horizontal clearfix" name="myForm" novalidate>
			  			<div class="form-group">
					  	<label for="firstname" class="col-sm-2 control-label text-right">评分主题</label>
					    <div class="col-sm-9">
				    	<input type="text" autocomplete="off" name="title" id="" value=""  class="form-control" ng-model="voteInfo.title" maxlength="20" required />					
						</div>
						<span ng-show="myForm.title.$invalid" class="warning">*</span>
						</div>
						<div class="form-group">
					  	<label for="firstname" class="col-sm-2 control-label text-right">主题描述</label>
					    <div class="col-sm-9">
					    	<textarea  class="form-control" rows="3" ng-model="voteInfo.describe" maxlength="100"></textarea>
						</div>
						</div>
	  					<div class="form-group">
					  	<label for="firstname pull-left" class="col-sm-2 control-label text-right">评分对象</label>
					  	<label class="area pull-left" ng-repeat="item in voteInfo.programs track by $index">
					  		{{item}}
					  		<a href="javascript:;" ng-click="delObject($index)">×</a>
					  	</label>
					    <div class="col-sm-2 pull-left" ng-show="voteInfo.programs.length<5">				    	
					    	<input type="text" autocomplete="off" name="object"  id="" value=""  class="form-control " ng-model="object" maxlength="10" ng-blur="additem()"/>						    	
						</div>
						<!--<a href="javascript:;" ng-click="addObject()"><img src="../../image/add.png"/></a>
						<a href="javascript:;" ng-click="delObject()"><img src="../../image/del.png"/></a>-->
						<!--<span ng-show="myForm.object.$invalid" class="warning">*</span>-->
						</div>
						<p class="text-center warning">说明：评分范围为0~9分；标题限制字数：20,；描述限制字数：100；评分对象限制字数：10</p>
			
			  </div>
			  <div class="operatebtn pt10 clearfix text-center">
		  		<button class="btn savebtn" ng-click="startVote()" ng-disabled="myForm.$invalid">开始投票</button>
		  	</div>
	  		</form>
	</body>
</html>

