<!DOCTYPE html>
<html ng-app="app">

	<head>
		<meta charset="UTF-8">
		<title></title>		
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
		<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<!--<base href="<%=basePath%>" />-->
		<link rel="stylesheet" href="../../css/bootstrap.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<script src="../../js/angular.js" type="text/javascript" charset="utf-8"></script>			
		<script src="../../js/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<link rel="stylesheet" href="../../js/angular-toastr/angular-toastr.min.css" />
		<script src="../../js/angular-toastr/angular-toastr.min.js"></script>
		<script src="../../js/angular-toastr/angular-toastr.tpls.min.js"></script>
		
		<script src="../../js/jquery-1.11.1.min.js"></script>
		<!--<link rel="stylesheet" href="../../js/select/select.css">
		<link rel="stylesheet" href="../../js/select/jquery.mCustomScrollbar.min.css" />
		<script src="../../js/select/jquery.mCustomScrollbar.concat.min.js"></script>
		<script src="../../js/select/jquery.select.js"></script>-->
		
		<link rel="stylesheet" href="../../js/select/style.css" />
		<link href="../../js/select/font-awesome.min.css" />
		<script type="text/javascript" src="../../js/select/select.jquery.js" ></script>
		<!--<script src="../../js/select/jquery.select.js"></script>-->
		<script src="../../js/common.js"></script>
		<script src="../../js/vconsole.min.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.js" ></script>
		<script type="text/javascript" src="../../js/app.js" ></script>
		<script src="../../js/controllers/answerController.js"></script>
		<script src="../../js/jquery.nicescroll.min.js"></script>
		
	</head>
	<style type="text/css">
		body{
			position: relative;
		}
		.operatebtn{
			position: absolute;
			bottom: 0.50rem;
			left: 0;
			right: 0;
		}
		.circle{
			position: absolute;
		    left: 50%;
		    top: 35%;
		    transform: translate(-50%,-35%);
		}
		.tab-content .tab-pane{
			/*display:none;
			visibility: visible; */
			display: block;
			visibility: visible;
		}
	</style>
	<body class="bg clearfix" ng-controller="stopAnswerTypeCtrl">
		<div class="tab-content"  ng-show="!userdetailshow">
			<div class="tab-pane" ng-show="!isStopAswer">
				<label class="circle">
					<span>{{studentNum}}</span>
				</label> 
				<div class="operatebtn mt20 clearfix text-center">
			  		<button class="btn savebtn" ng-click="stopAnswer()">停止答题</button>
			  	</div>
			  	<div id="refresAnswerNum" ng-click="refresAnswerNum()" style="display:none"></div>
			 </div>
			 <div class="tab-pane" ng-show="isStopAswer">
			  	<div class="header clearfix">
					<div class="pull-left">
						<img src="../../image/record.png" class="ml25 pt20" />
						<span class="mr10">已作答{{studentNum}}/{{studentCount}} </span>
						<span class="mr10">正确率{{answerRate|number:2}}%</span>
						<span class="view" ng-click="viewDetail()">查看详情</span>
						
					</div>
					<!--<div class="pull-right">
						<button class="btn savebtn" class="mr5">确定</button>
					</div>-->
					<div class="pull-right">
						<a href="javascript:history.go(-1);">
						<img src="../../image/return.png" ng-click="returnPage()" class="rebtn"/>
						</a>
					</div>
				</div>
				<div class="content content1 clearfix" style="margin: 0;">
					<div class="modbox text-center clearfix" style="width:100%;height:100%;position: absolute;top:0rem;left:0;right: 0;bottom:0rem;margin: 0;">
					<div id="recordbar" class="clearfix" style="position: absolute;left:0;height:100%; right:0; top:0;bottom:0;padding:0 0.25rem 0.45rem ;"></div>
				  </div>
				</div>
			</div>
			
		</div>
		<div class="header clearfix" ng-show="userdetailshow">
			<div class="pull-left">
				<img src="../../image/menu.png" class="ml25 pt20" />
				<span class="mr10">人员列表</span>
			</div>
			<div class="pull-right">
				<img src="../../image/return.png" ng-click="returnPage()" class="rebtn"/>
			</div>
		</div>
		<div class="content clearfix" style="margin: 0;padding: 0;position: relative;" ng-show="userdetailshow">
			<div class="modboxs clearfix " style="margin: 0.0rem 0.05rem;padding: 0;position: absolute;left: 0.18rem;">
				<div class="box green" ng-repeat="useritem in answerResult track by $index" style="width: auto;">
					{{useritem.studentName}}
				</div>
		  	</div>
		</div>
	</body>

</html>
<script type="text/javascript" src="../../js/echarts.js" ></script>
<!--<script src="../../js/echarts.simple.min.js"></script>-->
<script type="text/javascript">
//	var dom = document.getElementById("recordbar");
//	var myChart = echarts.init(dom);
//	var colors = ['#5793f3', '#d14a61', '#675bba'];
//	option = {
//  color: ['#fff'],
//  tooltip : {
//      trigger: 'axis',
//      axisPointer : {            // 坐标轴指示器，坐标轴触发有效
//          type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
//      }
//  },
//	toolbox: {
//      show : true,
//      feature : {
//          mark : {show: true},
//          dataView : {show: true, readOnly: false},
//          magicType : {show: true, type: ['line', 'bar']},
//          restore : {show: true},
//          saveAsImage : {show: true}
//      }
//  },
//  grid: {
//      left: '3%',
//      right: '4%',
//      bottom: '3%',
//      containLabel: true
//  },
//  xAxis : [
//      {
//          type : 'category',
//          data : ['A', 'B', 'C','D','E','F'],
//          axisTick: {
//              alignWithLabel: true
//          },
//          axisLine: {
//				lineStyle: {
//					color: '#dcdcdc', //这里是为了突出显示加上的，可以去掉
//					show: false
//				}
//			},
//			axisLabel: {        
//              show: true,
//              textStyle: {
//                  color: '#fff',
//                  fontSize:'16'
//              }
//          },
//      }
//  ],
//  yAxis : [
//      {
//      	show : false,
//          type : 'value',
//        	splitLine: false, //是否显示网格线
//        	/*axisTick:{
//		        show:false
//		    },*/
//			axisLine: {
//				lineStyle: {
//					color: '#dcdcdc', //这里是为了突出显示加上的，可以去掉
//					show: false
//				}
//			},
//			axisLabel: {        
//              show: true,
//              textStyle: {
//                  color: '#fff',
//                  fontSize:'16'
//              }
//          },
//      }
//  ],
//  series : [
//      {
//          name:'记录统计',
//          type:'bar',
//          barWidth: '50%',
//          data:[7, 13, 5,14,2,0],
//          itemStyle: {
//	    		normal: {
//			        label: {
//			            show: true,
//			            position: 'top',
//			            textStyle: {
//			                color: '#fff',
//		                    fontSize:'16'
//			            },
//		            }
//	       		}
//  		}
//      }
//  ]
//  
//};
//if(option && typeof option === "object") {
//	myChart.setOption(option, true);
//}
</script>


