body,
html {
	height: 100%;
	width: 100%;
}
html{
	font-size: 100px;
}
body {
	font-family: "Helvetica Neue", "Helvetica", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "Arial", "sans-serif";
}
ul,
li {
	list-style: none;
	margin: 0;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img,
hr,
legend {
	border: 0;
}

a,
input,
select {
	outline: none;
	background: none;
}

a,
a:hover,
a:active,
a:focus {
	text-decoration: none;
}

a:focus {
	outline: none;
}

label {
	font-weight: normal;
}

input[type=text],
textarea {
	background: #fff;
}

p {
	margin: 0;
}

.text-center{
	text-align: center !important;
}
.text-right{
	text-align: right !important;
}
.text-left{
	text-align: left !important;
}
/*左右浮动*/
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}

/*清楚浮动*/
.clearfix:before,
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.clearfix {
	zoom: 1;
}

.bg{
	background: url(../image/bg.png) no-repeat center ;
	background-size: 100% 100%;
}
.bgfff{
	background-color: #fff;
}
.bgf5{
	background-color: #f5f5f5;
}

.bggreen{
	background-color:#5ed6be;
}	
.header {
   /* height: 1.10rem;*/
    line-height: 1.10rem;
    vertical-align: middle;
    padding:0.0rem  0.15rem;
} 
 .header img{
    display: inline-block;
    width:auto ;
    margin-right: 0.25rem;
}
 .header span{
    font-size: 0.27rem;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}
.head ul li{
	float: left;
	width: 33.33%;
	text-align: center;
	font-size: 0.14rem;
	
}
.head ul li a{
	display: inline-block;
	text-align: center;	
	color: #fff;
	padding: 0.23rem 0.12rem;	
}

.head ul li a.active{
	border-bottom: 0.04rem solid #fff;
}


.content{
	margin:0 0.15rem 0.15rem;
	padding: 0.25rem;	
	color: #3e3e3e;
} 
ul.modbox li{
	float: left;
	width: 33.33%;
	/*padding: 0.28rem;*/
	text-align: center;
}

ul.modbox li a{
	display: inline-block;
	/*padding: 0.28rem 0.50rem;*/
	width: 2.8rem;
	height: 1.83rem;
	line-height:1.83rem;
	vertical-align: middle;
	border-radius: 0.05rem;
	position: relative;
}
ul.modbox li a img{
	display: inline-block;
	width: 1.22rem;
}
ul.modbox li a label.checked{
	position: absolute;
	visibility: hidden;
	right: 0.50rem;
	bottom: -0.50rem;
}
ul.modbox li.active label.checked{
	visibility: visible;
}

ul.modbox li span.title{
	color: #fff;
	font-size: 0.26rem;
	/*margin-left: 0.12rem;*/
}
ul.modbox li.active a{	
	background: rgb(146,182,255);
	opacity: 0.5;
	
}
.form-group label{
	font-size: 0.16rem;
	text-align: left !important;
}
.ro-switch {
	display: inline-block;
	cursor: pointer;
}

.ro-switch input {
	display: none;
}

.ro-switch .slider {
	margin: 0.08rem 0;
	padding: 0.01rem 0.30rem 0.01rem 0.00rem;
	border-radius: 10px;
	background: #e2e2e2;
	transition: padding 0.2s ease-in-out, background 0.2s ease-in-out;
}

.ro-switch .slider .slider-thumb {
	width: 0.20rem;
	height: 0.20rem;
	background: #FFF;
	border-radius: 45px;
	margin: 0 -0.01rem;
}

.ro-switch input:checked+ .slider {
	background: #e2e2e2;
	padding: 0.01rem 0.00rem 0.01rem 0.30rem;
}
.ro-switch input:checked + .slider .slider-thumb{
	background: #4cbf40;
}

/*操作按钮*/
.opbtn a{
	display: inline-block;
	width: 0.80rem;
	font-size: 0.14rem;
	text-align: left;
	cursor: pointer;
}
.opbtn a.warning{
	color: #ca4d4d;
}
.warning{
	color: #ca4d4d;
}
span.warning{
	color: #ca4d4d;
	font-weight: bold;
	font-size: 0.18rem;
}
button.btn-lg{
	width: 1.68rem;
	font-size: 0.16rem;
	padding:0.08rem ;
	background: #3c96ff;
	border-radius: 10px;
}
button{
	font-size: 0.16rem;
	padding:0.08rem ;
	background: #3c96ff;
	border-radius: 10px;
}
button:hover{
	background: #297fe4;	
}
button.savebtn{
	background: #31d884;
	color: #fff;
	border-radius: 0.02rem;
	width: 2.50rem;
	padding: 0.15rem;
	font-size: 0.18rem;
}
button.savebtn:hover{
	background: #47de92;
}
button.whitebtn{
	width: 2.05rem;
	height: 0.55rem;
	margin-right: 0.25rem;
	display: inline-block;
	background: url(../image/qian.png) no-repeat;
}
button.whitebtn:hover{
	opacity: 0.8;
}
button.btnfff{
	background: #fff;
	border-radius: 0.10rem;
	color: #90a4cc;
	font-size: 0.18rem;
	width: 2.0rem;
	height: 0.48rem;
	/*position: relative;*/
}
/*button.btnfff:after{
	content: url(../image/sub.png);
	position: absolute;
	right: 10%;
}*/
button.circlefff{
	border: 3px solid #dedede;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 100%;
	background: #fff;
	color: #90a4cc;
	font-size: 0.30rem;
}
button.circlefff:hover{
	opacity: 0.8;
}
label.area{
	padding:0.05rem 0.15rem;
	display: inline-block;
	border: 1px solid #dadada;
	background: #fff;
	border-radius:0.05rem ;
}
label.area+label.area{
	margin-left: 0.05rem;
}
label.area a.active{
	color: #ca4d4d;
	cursor: pointer;
}
.text{
	margin-bottom: 0.05rem;
}
.text label{
	font-size: 0.16rem;
	color: #fff;
	height: 0.36rem;
	line-height: 0.36rem;
	vertical-align: middle;
	margin-right: 0.05rem;
}
.text label.labelwd{
	width: 0.50rem !important;
	color: #3e3e3e;
	font-weight: normal;
}

.text input[type='text']{
	height: 0.36rem;
	line-height: 0.36rem;
	vertical-align: middle;
	text-indent: 0.10rem;
}
.text select{
	height: 0.36rem;
	line-height: 0.36rem;
	vertical-align: middle;
	text-indent: 0.10rem;
	width: 30%;
}
.text textarea{
	padding: 0.05rem 0.10rem;
	height: 0.72rem;
	vertical-align: middle;
	resize: none;

}
.text input[type='text'],
.text textarea{
	border: 0.01rem solid #dedede;
	outline: none;
	background: #fff;
	min-width: 90%;
	border-radius:0.02rem ;
}
.text p.con{
	color: #fff;
	font-size: 0.16rem;
}
.modboxs{
	position: relative;
}
.editbtn{
	position: absolute;
	bottom: 0.10rem;
	right: 0.10rem;
	width:0.30rem ;
	height: auto;
	cursor: pointer;
	margin-top: 0.03rem;
	vertical-align: middle;
}
.mt5{
	margin-top: 0.05rem;
}
.mt10{
	margin-top: 0.10rem;
}
.mt20{
	margin-top: 0.20rem;
}
.mt30{
	margin-top: 0.30rem;
}
.mt40{
	margin-top: 0.40rem;
}
.ml5{
	margin-left: 0.05rem;
}
.ml10{
	margin-left: 0.10rem;
}
.ml20{
	margin-left: 0.20rem;
}
.ml25{
	margin-left: 0.25rem;
}
.ml30{
	margin-left: 0.30rem;
}
.ml32{
	margin-left: 0.32rem;;
}
.ml40{
	margin-left: 0.40rem;
}
.mr5{
	margin-right: 0.05rem;
}
.mr10{
	margin-right: 0.10rem;
}
.mr20{
	margin-right: 0.20rem;
}
.mr25{
	margin-right: 0.25rem;
}
.mr30{
	margin-right: 0.30rem;
}
.mr35{
	margin-right: 0.35rem;
}
.mb10{
	margin-bottom: 0.10rem;
}
.mb20{
	margin-bottom: 0.20rem;
}
.mb25{
	margin-bottom: 0.25rem;
}
.mb30{
	margin-bottom: 0.30rem;
}
.pt5{
	padding-top: 0.05rem;
}
.pt10{
	padding-top: 0.10rem;
}
.pt20{
	padding-top: 0.20rem;
}
.pt25{
	padding-top: 0.25rem;
}
.pt30{
	padding-top: 0.30rem;
}
.pt40{
	padding-top: 0.40rem;
}

.pr5{
	padding-right: 0.05rem;
}
.pr10{
	padding-right: 0.10rem;
}
.pr20{
	padding-right: 0.20rem;
}
.pr25{
	padding-right: 0.25rem;
}
.pr30{
	padding-right: 0.30rem;
}
.pb5{
	padding-bottom: 0.05rem;
}
.pb10{
	padding-bottom: 0.10rem;
}
.pb20{
	padding-bottom: 0.20rem;
}
.pb25{
	padding-bottom: 0.25rem;
}
.pb30{
	padding-bottom: 0.30rem;
}
.wd20{
	width: 0.20rem;
}
.wd60{
	width: 0.60rem;
}
.wd80{
	width: 0.80rem;
}
.wd100{
	width: 1.0rem;
}
.wd130{
	width: 1.30rem;
}
a.del{
	color: #ca4d4d;
}
a:active{
	color: #ff6600;
}


/*学生管理*/
/*.pannel table.table thead tr th{
	height:0.24rem;
	line-height: 0.24rem ;
	padding: 0.08rem ;
	vertical-align: middle;
}*/
table.classlist tbody tr:hover,
table.userlist tbody tr:hover{
	background: #eaeaea;
}
table tbody tr td a.del,
table tbody tr td a.edit {
	visibility: hidden;
	cursor: pointer;
}
table  tbody tr:hover td a.del,table  tbody tr:hover td a.edit{
	visibility: visible;
}
table.classlist thead tr th{
	/*height: 0.25rem;
	line-height: 0.25rem;*/
	padding: 0.08rem ;
	vertical-align: middle;
}
table.papertable{
	background: #fff;
}
span.sub{
	display: inline-block;
	width: 0.05rem;
	height: 0.05rem;
	line-height: 0.05rem;
	margin-top: -0.03rem;
	vertical-align: middle;
	margin-right: 0.02rem;
	
	border-radius: 100%;
}
.green{
	background: #04be02 !important;
}
.blue{
	background: #27bfff !important;
}
.grey{
	background:#abacac !important;
} 
table.classlist tbody tr{
	cursor: pointer;
}
table.classlist tbody tr td{
	height: 0.26rem;
	line-height: 0.26rem;
	padding: 0.06rem ;
}
table.classlist tbody tr span.name.active{
	color: #3d95ff;
}

table.userlist thead tr th{
	height: 0.20rem;
	line-height: 0.20rem;
	padding: 0.08rem ;
	vertical-align: middle;
}
table.userlist thead tr th input[type='checkbox']{
	margin-top: -0.03rem;
	vertical-align: middle;
}
table.subject tbody tr{
	background: #eaeaea;
	border-bottom: 2px solid #f5f5f5;
}
table.subject tbody tr td{
	border-top:none;	
}
table.answer{
	color: #fff;
}
.modal-title{
	color: #000;
}
.modal-body .form-group label{
	text-align: right !important;
}

/*课程设置*/
.modboxs{
	margin: 0.1rem 1.6rem;
	padding: 0.30rem;
	border-radius: 0.05rem;
}
label.circle{
	width: 3.13rem;
	height: 3.13rem;
	line-height: 3.13rem;
	vertical-align: middle;
	border: 0.05rem solid #fff;
	border-radius: 100%;
	text-align: center;
}
 label.circle span{
	font-size: 1.33rem;
	color: #fff;
}
.modboxs .box{
	float: left;
	width: 7%;
	background: #fff;
	font-size: 0.18rem;
	text-align: center;
	color: #90a4cc;
	padding: 0.02rem;	
	margin: 0.05rem;
}
.modboxs .box.green{
	color: #fff;
}
/*进度条*/
.progresscon{
	width: 1.30rem;
	height: 0.60rem;
	float: left;
	background: #fff;
	margin:0.05rem;
	padding: 0.08rem 0.20rem;
}
.progresscon p span{
	font-size: 0.16rem;
	color: #90a4cc;
}
.progress {
 height: auto;
  background: rgba(0, 0, 0, 0.30);
  border-radius: 3px;
}

.progress-bar {
  position: relative;
  height: 0.15rem;
  line-height: 0.15rem;
  border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}
.progress-bar:before, .progress-bar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.progress-bar:before {
  bottom: 0;
  border-radius: 3px 3px 0 0;
}
.progress-bar:after {
  z-index: 2;
  bottom: 45%;
  border-radius: 3px;
}
.form-group label.control-label{
	text-align: right !important;
}
.form-group label.selradio{
	display: inline-block;
	height: 0.40rem;
	line-height:0.40rem ;
	vertical-align: middle;
	cursor: pointer;
}
.form-group label.selradio input[type='radio']{
	cursor: pointer;
}

/*答题中心样式*/


.letter a.letters{
	color: #fff;
	font-size: 0.28rem;
	display: inline-block;
	padding: 0.2rem ;
	border-right: 0.01rem solid #fff;
	margin-right: 0.10rem;
	vertical-align: middle;
}

.lettercon .title{
	color: #fff;
	font-size: 0.28rem;
	vertical-align: middle;
}
a.letters:hover{
	color: #fff;
}
.letter .newSelect{
	width:0.8rem !important;
	height: 0.4rem;
}
.letter .newOptions{
	width:0.8rem !important;
}
.letter .newSelect .newSelectTitle{
	height: 0.45rem;
	line-height: 0.45rem;
	
}
.letter .newSelect .arrow{
	margin-top: 0.18rem;
}
.letter .newSelect .newSelectTitle span{
	font-size: 0.28rem;
	color: #3d95ff;
}
div.block{
	position: absolute;
	bottom: 0.25rem;
	left: 0;
	right: 0;	
	margin:0 0.25rem;		
}
ul.col-4 li{
	float: left;
	width: 25%;
	text-align: center;	
}
ul.col-4 li a{
	width: 2.0rem;
	display: inline-block;
	padding: 0.24rem 0;		
	background: #fff;
	border-radius: 0.10rem;
}
ul.col-4 li a img{
	margin-top: -0.03rem;
	vertical-align: middle;
}
ul.col-4 li a span{
	margin-left: 0.08rem;
	color: #90a4cc;
	font-size: 0.32rem;
	vertical-align: middle;
}
@media screen and (max-width: 920px) {
    .head ul li a{
		display: inline-block;
		text-align: center;	
		color: #fff;
		padding: 0.10rem 0.12rem;	
	}
	.progresscon{
		width: 0.90rem;
		padding: 0.08rem 0.10rem;
	}
	.modbox.checkclass{
		max-height: 3.5rem;
		overflow-y: auto;
	}
}
@media screen and (min-width: 921px) {
    .head ul li a{
		display: inline-block;
		text-align: center;	
		color: #fff;
		padding: 0.23rem 0.12rem;	
	}
	ul.modbox li a{
		width: 4.0rem;
	}
	ul.col-4 li a{
		width: 4.0rem;
		padding: 0.4rem 0;		
	}
}
/*table.classlist tbody tr:hover,
table.userlist tbody tr:hover{
	background: #eaeaea;
}
table tbody tr td a.del,
table tbody tr td a.edit {
	visibility: hidden;
}
table  tbody tr:hover td a.del,table  tbody tr:hover td a.edit{
	visibility: visible;
}
table.classlist thead tr th{
	height: 0.25rem;
	line-height: 0.25rem;
	padding: 0.08rem ;
	vertical-align: middle;
}

table.classlist tbody tr td{
	height: 0.26rem;
	line-height: 0.26rem;
	padding: 0.06rem ;
}
table.userlist thead tr th{
	height: 0.20rem;
	line-height: 0.20rem;
	padding: 0.08rem ;
	vertical-align: middle;
}
table.userlist thead tr th input[type='checkbox']{
	margin-top: -0.03rem;
	vertical-align: middle;
}
table.answer{
	color: #fff;
}
.modal-title{
	color: #000;
}
.modal-body .form-group label{
	text-align: right !important;
}

*/