@charset "utf-8";
/* CSS Document */

/*-------------multiselect-------------*/

li{
	list-style-type: none;
}
.newSelect{
	display: inline-block;
	/*line-height: 36px;	*/
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
    line-height:0.36rem;
	height: 0.36rem;
	vertical-align: middle;
}


.newSelect *{
	font-size:14px;
	padding:0px;
	margin: 0px;
}

.newSelect:hover{
	cursor:pointer;
}

.newSelect .newSelectTitle{
	display: block;
	padding: 0px 0px 0px 20px;
	border: 1px solid #CCC;
	border-radius: 3px;
	height: 36px;
	background: #FFF;
	text-align: left;
}

.newSelect .newSelectTitle:hover{
	border-color: #AAA;
}

.newSelect .newSelectTitle span{
	display: inline-block;
	max-width: 80%;
	white-space: nowrap;
	overflow: hidden;
	
	font-family: '微软雅黑';
	font-size: 14px;
}

.newSelect .arrow{
	float: right;
	/*margin: 10px 10px 0px 0px;*/
	margin: 14px 10px 0px 0px;
	width:0;
	height:0;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-top:8px solid #e7e7e7;
	/*border-top: 8px solid #e7e7e7;*/
	transition: transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
}

.newSelect .arrow_turn{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}
	
.newOptions{
	text-indent: 20px;
	margin: 5px 0 5px 0;
	border: 1px solid #CCC;
	border-radius: 2px;
	background: #FFF;
	position: absolute;
	z-index: 1000;
	display: none;
	
}

.newOptions::-webkit-scrollbar-track{
	background-color: #E0E0E0;
}

.newOptions::-webkit-scrollbar{
	width: 5px;
	background-color: #F5F5F5;
}

.newOptions::-webkit-scrollbar-thumb{
	background-color: #AAA;
	border-radius: 10px;
}

.newOptions::-webkit-scrollbar-thumb:hover{
	background-color: #888;
}


.newOptions li{
	font-family: '微软雅黑';
	font-size: 14px;
	text-align: left;
}

.newOptions li:hover{
	background:#3c96ff;
	color: #fff;
	
}

.newOptions li.sArea{
	border-top: 1px solid #EEE;
	padding: 5px 0px !important;
	text-align: center;
}

.newOptions li.sArea:hover{
	background: #FFF;
	cursor:auto;
}

.newOptions li.sArea button{
	padding: 4px 20px;
	color: #4F4F4F;
	border: 1px solid #CCC;
	border-radius: 2px;
	background: linear-gradient(to bottom,#fff 0%,#fff 50%,#f3f3f3 70%,#f8f8f8 90%);
}

.newOptions li.sArea button:hover{
	background: linear-gradient(to bottom,#f8f8f8 0%,#f8f8f8 50%,#f3f3f3 70%,#fafafa 90%);
}

.newOptions li.sArea button:hover{
	border-color: #AAA;
	cursor: pointer;
}

.newOptions li[data-select="true"]{
	background: #3c96ff;
	color: #FAFAFA;
}

.newSelect .newSelectTitle span{
    text-overflow: ellipsis;
}
.newOptions li{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}