<!DOCTYPE html>
<html ng-app="app">

	<head>
		<meta charset="utf-8" />
		<title>答题页面</title>
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
		<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="stylesheet" href="../../css/bootstrap.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/page.css" />
		<script src="../../js/angular.js" type="text/javascript" charset="utf-8"></script>			
		<script src="../../js/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<link rel="stylesheet" href="../../js/angular-toastr/angular-toastr.min.css" />
		<script src="../../js/angular-toastr/angular-toastr.min.js"></script>
		<script src="../../js/angular-toastr/angular-toastr.tpls.min.js"></script>
		<script src="../../js/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="../../js/select/style.css" />
		<link href="../../js/select/font-awesome.min.css" />
		<script type="text/javascript" src="../../js/select/select.jquery.js" ></script>
		<script src="../../js/common.js"></script><br />
		<script src="../../js/jquery.nicescroll.min.js"></script>
		<!--<script src="../../js/ui-validate.js"></script>-->
		<!--<script src="../../js/vconsole.min.js"></script>-->
		<script type="text/javascript" src="../../js/bootstrap.js" ></script>
		<script type="text/javascript" src="../../js/app.js" ></script>
		<script src="../../js/controllers/answerRecordController.js"></script>
		<!--<script src="../../js/controllers/uploadfileModalCtrl.js"></script>-->
		  <!--[if IE 8]>
        <script src="js/es5-shim.min.js"></script>        
    	<![endif]-->
	</head>
	<style>
		.newSelect{
			width: 1.5rem !important;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
		    line-height:0.36rem;
   			height: 0.36rem;
		}
		.newOptions{
			width: 1.5rem !important;
		}

	</style>
	<body class="bg" ng-controller="answerRecordCtrl">
		<div id="myModal" class="modal fade" data-keyboard="false" data-backdrop="static" data-role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div id="loading" class="loading">加载中</div>
		</div>
		<!--个人作答记录-->
		<script type="text/ng-template" id="oneAnswerDetailModal.html">
					<div class="modal-header">
						<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
						<h4 class="modal-title">{{}}作答详情</h4>
					</div>
					<div class="modal-body" id="oneanswer" style="max-height: 3.0rem;overflow: auto;" >
						<table class="table">
							<thead>
								<tr>
									<th>序号</th>
									<th>题号</th>
									<th>题目</th>
									<th>题目类型</th>
									<th>正确答案|最高分</th>
									<th>作答答案|得分</th>									
									<th>作答结果</th>								
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in oneRecordList track by $index">
									<td>{{$index+1}}</td>
									<td>{{item.questionId}}</td>
									<td>{{item.question}}</td>
									<td>{{item.questionType|questionType}}</td>
									<td ng-show="answerType=='4'">{{item.trueAnswer|AnswerType}}</td>
									<td ng-show="answerType!='4'">{{item.score}}</td>										
									<td>{{item.answer}}</td>	
									<td >{{item.result}}</td>
								</tr>
							</tbody>
							
						</table>
						
					</div>
					<div class="modal-footer text-center">
						<button type="button" class="btn btn-default" ng-click="cancel()">取消</button>			
					</div>
			</script>
		<!--确认弹框-->
			<script type="text/ng-template" id="sureModal.html">
				<form name="myForm" novalidate="novalidate">
					<div class="modal-header">
						<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
						<h4 class="modal-title">确认</h4>
					</div>
					<div class="modal-body">
						{{content}}
					</div>
					<div class="modal-footer text-center">
						<button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="!myForm.$valid">确定</button>
						<button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
			
					</div>
			</form>
			</script>
			<div class="header clearfix">
				<div class="pull-left">
					<img src="../../image/set.png" class="ml25" />
					<span>作答记录</span>
				</div>
				<div class="pull-right">
					<!--<a href="javascript:history.go(-1);">
					<img src="../../image/return.png" />
					</a>-->
				</div>
			</div>
			<div class="content content1 bgf5 clearfix" style="top: 1.2rem;">		
				<div class="searchbar clearfix">
				    <label >班级</label>			    	
			    	<select class="single" select2 ng-model="setClass.classes" defalutvalue='setClass.classes1' ng-change="changeClass(setClass.classes)" list='classList'>
						<!--<option ng-repeat="item in classList track by $index" value="{{item}}">{{item.value}}</option>-->
					</select>
					<label >科目</label>
					<select class="single" select1 ng-model="setClass.subject" defalutvalue='setClass.subject1' list="subjectlists" ng-change="changeSubject(setClass.subject)">
				   			<option ng-repeat="subjectitem in subjectlists track by $index" value="{{subjectitem}}">{{subjectitem}}</option>
					</select>
					<label>课程</label>
				   <select class="single" select2 ng-model="setClass.sujectHour" defalutvalue='setClass.sujectHour1'  ng-change="changeClassHour(setClass.sujectHour)" list="classhourList" >
			   			<!--<option ng-repeat="houritem in classhourList track by $index" value="{{houritem}}">{{houritem.value}}</option>-->
					</select>		
					<!--<select class="single" select2 ng-model="setClass.sujectHour" defalutvalue='setClass.sujectHour1' list='classhourList' ng-change="changeClassHour(setClass.sujectHour)" >
						</select>-->
					<label >试卷</label>
			    	<select class="single" select2 ng-model="setClass.paper" defalutvalue='setClass.paper1'  ng-change="changePaper(setClass.paper)" list='paperList'>
						<!--<option ng-repeat="paperitem in paperList track by $index" value="{{paperitem}}">{{paperitem.value}}</option>-->
					</select>
					<a href="javascript:;" class="del ml20 mr10" ng-click="deleteRcord()">删除</a>
					<a href="javascript:;" class="edit" ng-click="exportRecord()">导出</a>
				</div>
				<div class="col-main" style="position: absolute;top: 0.6rem;left: 0;right: 0;bottom: .25rem;overflow-x: hidden;overflow-y: auto; width:100%;padding:0 0.25rem;">	
					<table class="table table-stripe subject">
						<thead>
							<tr >
								<th style="width: 5%;">序号</th>
								<th style="width: 10%;">姓名</th>
								<th style="width: 15%;">试卷名称</th>
								<th style="width: 10%;">正确率</th>
								<th style="width: 12%;">时间</th>
								<th style="width: 10%;" class="pr1">全选
								<label style="margin-bottom: 0;"><input type="checkbox" class="allCheck" ng-model="selected" ng-change="selectAll()"></label></th>
							</tr>
						</thead>					
					</table>
					<div style="overflow-x: hidden;position: absolute; top: 0.36rem; left: 0.25rem; right: 0.25rem; bottom: 0; overflow-y: auto;" id="testlist">
					<table class="table table-stripe subject">
						<!--<thead>
							<tr >
								<th class="wd20">序号</th>
								<th class="wd20">姓名</th>
								<th class="wd130">试卷名称</th>
								<th class="wd60">正确率</th>
								<th class="wd80">时间</th>
								<th class="wd80" class="pr1">全选
								<label style="margin-bottom: 0;"><input type="checkbox" class="allCheck" ng-model="selected" ng-change="selectAll()"></label></th>
							</tr>
						</thead>-->
						<tbody>
							<tr ng-repeat="item in recordList track by $index" ng-click="$event.stopPropagation();">
								<td style="width: 5%;">{{$index+1}}</td>
								<td style="width: 10%;">{{item.studentName}}</td>
								<td style="width: 15%;">{{item.testName}}</td>
								<td style="width: 10%;">{{item.result}}</td>
								<td style="width: 12%;">{{item.time}}</td>	
								<td style="width: 10%;" class="ml5"><input type="checkbox" style="margin-left: 0.32rem;" ng-model="item.checked" class="ml32" name="check" ng-change="selectOne()" ng-click="$event.stopPropagation();"></td>
							</tr>
							</tbody>
					</table>
					</div>
			  	</div>
			</div>
			<div id="getTip" ng-click="getTip()" style="display: none;"></div>
			<div id="refreSelectRecord" ng-click="refreSelectRecord()" style="display: none;"></div>
			<div id="removeLoading" ng-click="removeLoading()" style="display: none;"></div>
			<div id="showLoading" ng-click="showLoading()" style="display: none;"></div>
	</body>
</html>

<script>
	 $(document).ready(function() { 
	var nice = $("html").niceScroll();  // The document page (body)
	 $("#testlist").niceScroll({cursorborder:"",cursorcolor:"#d9d9d9",boxzoom:true}); // First scrollable 	
  });
</script>
