<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Angular 1.4 IE8</title>
	<link rel="stylesheet" href="css/simpleAlert.css">
    <!--[if IE 8]>
        <script src="js/es5-shim.min.js"></script>        
    <![endif]-->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/angular.min.js"></script>
	<script src="js/echarts.js"></script>
    <script src="js/myTest.js"></script>
<style>
		*{
			margin:0;
		}
		body{		
			font-family: "微软雅黑";
			height:100%;
			overflow:hidden;
		}
	</style>
</head>
<body  ng-app="someApp" ng-controller="someController" class="bgf5">
	<button id = "getAllName" ng-click="getAllName()">获取所有组名</button>
	<button id = "login" ng-click="login()">登录</button>
	<button id = "read_setting" ng-click="read_setting()">读取设置</button>
	<button id = "set" ng-click="set()">设置</button>
	<button id = "set_default" ng-click="set_default()">设置默认值</button>
</body>
</html>