<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
	<h4 class="modal-title">选择上传文件</h4>
</div>
<div class="modal-body">
	<div class="winform">
		<div class="greygroup mb25">
			<input type="file" id="uploadFile" />
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="save()">确定</button>
	<button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
</div>
