<!DOCTYPE html>
<html ng-app="app">

	<head>
		<meta charset="utf-8" />
		<title>答题页面</title>
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
		<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="stylesheet" href="../../css/bootstrap.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<script src="../../js/angular.js" type="text/javascript" charset="utf-8"></script>			
		<script src="../../js/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<link rel="stylesheet" href="../../js/angular-toastr/angular-toastr.min.css" />
		<script src="../../js/angular-toastr/angular-toastr.min.js"></script>
		<script src="../../js/angular-toastr/angular-toastr.tpls.min.js"></script>
		<script src="../../js/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="../../js/select/style.css" />
		<link href="../../js/select/font-awesome.min.css" />
		<script type="text/javascript" src="../../js/select/select.jquery.js" ></script>
		<script src="../../js/common.js"></script>
		<script src="../../js/vconsole.min.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.js" ></script>
		<script type="text/javascript" src="../../js/app.js" ></script>
		<script src="../../js/controllers/setPaperManageController.js"></script>
		<!--<script src="../../js/controllers/uploadfileModalCtrl.js"></script>-->
		  <!--[if IE 8]>
        <script src="js/es5-shim.min.js"></script>        
    	<![endif]-->
	</head>
	<style>
		.newSelect{
			width: 120px !important;
		}
		.newOptions{
			width: 120px !important;
		}
	</style>
	<body class="bg" ng-controller="addPaperManageCtrl">
		<!--导入试卷-->
		<script type="text/ng-template" id="importFile.html">
			<form name="myForm" class="form-horizontal clearfix" role="form" novalidate="novalidate">
				<div class="modal-header">
					<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
					<h4 class="modal-title">导入试卷</h4>
				</div>
				<div class="modal-body" >
					<div class="form-group">
					  	<label for="firstname" class="col-sm-3 control-label">选择类型</label>
					    <div class="col-sm-8">
				    	<select class="single" select ng-model="fileType" defalutvalue='fileType1' ng-change="changefileType(fileType)" >
				   			<option value="0">本地导入</option>
				   			<option value="1">服务器获取</option>
						</select>
						</div>
					</div>
					<div class="form-group" ng-if="fileType=='0'">
					  	<label for="firstname" class="col-sm-3 control-label">选择文件</label>
					    <div class="col-sm-8">
				    	<input type="file" class="form-control" name="file" id="uploadFile" value="" validFile ng-model="filepath"  onchange='angular.element(this).scope().fileChanged(this)' />				
						</div>
						<span ng-show="myForm.file.$invalid" class="warning">*</span>
					</div>
				<div class="modal-footer text-center">
					<button type="button" class="btn btn-primary" ng-click="ok()" ng-if="fileType=='1'">确定</button>
					<button type="button" class="btn btn-primary" ng-click="ok()" ng-if="fileType=='0'" ng-disabled="!myForm.$valid">确定</button>
					<button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
		
				</div>
			</form>
			</script>
		<!--添加题目start-->
			<script type="text/ng-template" id="addSubjectModal.html">
				<form class="form-horizontal clearfix" role="form" name="myForm" novalidate="novalidate">
					<div class="modal-header">
						<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
						<h4 class="modal-title">{{title}}</h4>
					</div>
					<div class="modal-body">						
						<!--<div class="form-group">
					  	<label for="firstname" class="col-sm-3 control-label">序号</label>
					    <div class="col-sm-8">
				    	<input type="number" autocomplete="off" name="stunum" id="" value=""  class="form-control" ng-model="student.stuNum" required ng-pattern="/^[0-9]*/" maxlength="10" placeholder="请输入长度不能超过10位的数字" ng-blur="blurStunum()"/>					
						</div>
						<span ng-show="myForm.stunum.$invalid" class="warning">*</span>
						</div>-->
						<!--<div class="form-group">
					  	<label for="firstname" class="col-sm-3 control-label">题目</label>
					    <div class="col-sm-8">
				    	<input type="text" autocomplete="off" name="stuname" id="" value=""  class="form-control" ng-model="testInfo.question" required maxlength="10" placeholder="请输入长度不能超过10位字符" ng-blur="blurStuname()"/>
						</div>
						<span ng-show="myForm.stuname.$invalid" class="warning">*</span>
						</div>-->
						<div class="form-group">
					  	<label for="firstname" class="col-sm-3 control-label">题目内容</label>
					    <div class="col-sm-8">
				    	<textarea class="form-control" cols="3" placeholder="请输入..." ng-model="testInfo.question"></textarea>
						</div>
						<span ng-show="myForm.devicenum.$invalid" class="warning">*</span>
						</div>
						<div class="form-group">
					  	<label for="firstname" class="col-sm-3 control-label">答案类型</label>
					    <div class="col-sm-8">
				    	<select class="single" select  ng-model="testInfo.questionType" defalutvalue='testInfo.questionType1' ng-change="changequesType(testInfo.questionType)">
				    		<option value="3">判断</option>
							<option value="0">字母</option>
							<option value="4">数字</option>
						</select>
				    	<select class="single" ng-model="testInfo.selType" select defalutvalue='testInfo.selType1' ng-if="testInfo.questionType=='0'">
				    		<option value="1">单选</option>
				    		<option value="2">多选</option>
				    	</select>
				    	<select class="single" ng-model="testInfo.range" select defalutvalue='testInfo.range1' ng-if="testInfo.questionType=='0'">
				    		<option value="A-D">A-D</option>
				    		<option value="A-F">A-F</option>
				    	</select>
						</div>
						</div>
						<div class="form-group">
					  	<label for="firstname" class="col-sm-3 control-label">答案</label>
					    <div class="col-sm-8">
				    	<input type="text" autocomplete="off" name="trueAnswer" id="" value=""  class="form-control" ng-model="testInfo.trueAnswer" required  ng-blur="blurtrueAnswer(testInfo.trueAnswer)"/>
						</div>
						<span ng-show="myForm.trueAnswer.$invalid" class="warning">*</span>
						</div>
					</div>
					<div class="modal-footer text-center">
						<button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="!myForm.$valid">确定</button>
						<button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
		
					</div>
				</form>
			</script>
			<div class="header clearfix">
				<div class="pull-left">
					<img src="../../image/set.png" class="ml25" />
					<span>添加试卷</span>
				</div>
				<div class="pull-right">
					<img src="../../image/return.png" ng-click="returnPage()"/>
				</div>
			</div>
			<div class="content bgf5 clearfix">		
				<form class="form-horizontal clearfix" name="myForm">
			  			<div class="form-group">
					  	<label for="firstname" class="col-sm-2 control-label">试卷名称</label>
					    <div class="col-sm-9">
				    	<input type="number" autocomplete="off" name="testName" id="" value=""  class="form-control" ng-model="paperInfo.testName" required />										
					    </div>
					    <span ng-show="myForm.testName.$invalid" class="warning">*</span>
						</div>
						<div class="form-group">
					  	<label for="firstname" class="col-sm-2 control-label">试卷描述</label>
					    <div class="col-sm-9">
					    	<textarea  class="form-control" rows="3" ng-model="paperInfo.describe"></textarea>
						</div>
						</div>
		  		</form>
			  		<div class="col-main"  id="testlist" style="overflow-x: auto; overflow-y: auto; height:1.5rem; width:100%;padding-right: 0.05rem;">
					<table class="table table-stripe subject">
						<thead>
							<tr >
								<th class="wd20">序号</th>
								<th class="wd20">题号</th>
								<th class="wd130">题目内容</th>
								<th class="wd60">答案类型</th>
								<th class="wd20">答案</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in subjectList track by $index">
								<td>{{$index+1}}</td>
								<td>{{item.id}}</td>
								<td>{{item.question}}</td>
								<td>{{item.questionType|questionType}}</td>
								<td ng-if="item.questionType=='3'">{{item.trueAnswer=='T'?'√':'×'}}</td>	
								<td ng-if="item.questionType!='3'">{{item.trueAnswer}}</td>		
							</tr>
							</tbody>
					</table>
			  	</div>
			  	<div class="opbtn clearfix pt10">
				  	<a href="javascript:;"  ng-click="addSubject()">新增</a>
				  	<a href="javascript:;" ng-click="importSubject()">导入</a>
			  	</div>
			  	<div class="operatebtn pt10 clearfix">
			  		<button class="btn btn-primary btn-lg" ng-click="savePaper()">保存</button>
			  	</div>
			  </div>
	</body>
</html>
<script src="../../js/jquery.nicescroll.min.js"></script>
<script>
	 $(document).ready(function() { 
	var nice = $("html").niceScroll();  // The document page (body)
	 $("#testlist").niceScroll({cursorborder:"",cursorcolor:"#d9d9d9",boxzoom:true}); // First scrollable 	
  });
</script>
