<!DOCTYPE html>
<html ng-app="app">

	<head>
		<meta charset="utf-8" />
		<title>答题页面</title>
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=' + document.body.clientWidth / 920, minimum-scale=1.0, maximum-scale=1.0" />
		<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="stylesheet" href="../../css/bootstrap.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/page.css" />
		<script src="../../js/angular.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<link rel="stylesheet" href="../../js/angular-toastr/angular-toastr.min.css" />
		<script src="../../js/angular-toastr/angular-toastr.min.js"></script>
		<script src="../../js/angular-toastr/angular-toastr.tpls.min.js"></script>
		<script src="../../js/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="../../js/select/style.css" />
		<link href="../../js/select/font-awesome.min.css" />
		<script type="text/javascript" src="../../js/select/select.jquery.js"></script>
		<script src="../../js/jquery.nicescroll.min.js"></script>
		<script src="../../js/common.js"></script>
		<!--<script src="../../js/vconsole.min.js"></script>-->
		<script type="text/javascript" src="../../js/bootstrap.js"></script>
		<script src="../../js/controllers/setStuManageController.js"></script>
		<!--[if IE 8]>
        <script src="js/es5-shim.min.js"></script>        
    	<![endif]-->
	</head>

	<body class="bg" ng-controller="setStuManageCtrl" >
		<div id="myModal" class="modal fade" data-keyboard="false" data-backdrop="static" data-role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div id="loading" class="loading">加载中</div>
		</div>
		<script type="text/ng-template" id="addClassModal.html">
			<!--新增班级start-->
			<form name="myForm" class="form-horizontal clearfix" role="form" novalidate="novalidate">
				<div class="modal-header">
					<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">close</span></button>
					<h4 class="modal-title">{{title}}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group" ng-show="(title!='Edit Class')">
						<label for="firstname" class="col-sm-3 control-label">Choose State</label>
						<div class="col-sm-8">
							<select class="single" select ng-model="classInfo.atype" name="atype" defalutvalue='classInfo.atype1' required>
								<option value="0">local</option>
								<option value="1">online</option>
							</select>
						</div>
						<span ng-show="myForm.atype.$invalid" class="warning">*</span>
					</div>
					<div class="form-group" ng-if="classInfo.atype=='1'&&(title!='Edit Class')">
						<label for="firstname" class="col-sm-3 control-label">Class ID</label>
						<div class="col-sm-8">
							<input type="text" autocomplete="off" name="classId" id="" value="" class="form-control" ng-model="classInfo.classId" required maxlength="10" placeholder="Please enter a number no longer than 10 digits" ng-change="selectClass()" ng-pattern="/^[0-9]\d*$/" maxlength="10"/>
						</div>
						<span ng-show="myForm.classId.$invalid" class="warning">*</span>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-sm-3 control-label">Class Name</label>
						<div class="col-sm-8">
							<input type="text" autocomplete="off" name="name" id="" value="" class="form-control" ng-model="classInfo.className" required maxlength="10" placeholder="Please enter a length of no more than 10 characters" ng-pattern="/(^\s*)|(\s*$)/g" ng-change="selectClassName()"/>
						</div>
						<span ng-show="myForm.name.$invalid" class="warning">*</span>
					</div>				
					
				</div>
				<div class="modal-footer text-center">
					<button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="myForm.$invalid">OK</button>
					<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

				</div>
			</form>
		</script>
		<!--导入学生-->
		<script type="text/ng-template" id="importFile.html">
			<form name="myForm" class="form-horizontal clearfix" role="form" novalidate="novalidate">
				<div class="modal-header">
					<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">close</span></button>
					<h4 class="modal-title">{{title}}</h4>
				</div>
				<div class="modal-body">
					<!--<div class="form-group" ng-show="isfileType==true">
						<label for="firstname" class="col-sm-3 control-label">数据来源</label>
						<div class="col-sm-8">
							<select class="single" select ng-model="fileType" name="fileType" defalutvalue='fileType1' ng-change="changefileType(fileType)" required>
								<option value="0">从本地导入</option>
								<option value="1">服务器导入</option>
							</select>
						</div>
						<span ng-show="myForm.fileType.$invalid" class="warning">*</span>
					</div>-->
					<p ng-show="isfileType==true" class="pt10 pb20">&nbsp;&nbsp;Are sure to import students into 【{{className}}】?</p>
					<div class="form-group" ng-show="fileType=='0'">
						<label for="firstname" class="col-sm-3 control-label">Choose File</label>
						<div class="col-sm-8">
							<input type="file" class="form-control" name="file" id="uploadFile" value="" validFile ng-model="filepath" onchange='angular.element(this).scope().fileChanged(this)' />
						</div>
						<span ng-show="myForm.file.$invalid" class="warning">*</span>
					</div>
					<div class="modal-footer text-center">
						<button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="!myForm.$valid">OK</button>
						<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

					</div>
					
			</form>
		</script>
		<!--确认弹框-->
		<script type="text/ng-template" id="sureModal.html">
			<form name="myForm" novalidate="novalidate">
				<div class="modal-header">
					<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">close</span></button>
					<h4 class="modal-title">Confirm</h4>
				</div>
				<div class="modal-body">
					{{content}}
				</div>
				<div class="modal-footer text-center">
					<button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="!myForm.$valid">OK</button>
					<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

				</div>
			</form>
		</script>
		<!--配对绑定弹框-->
		<script type="text/ng-template" id="findBindModal.html">
			<form name="myForm" novalidate="novalidate">
				<div class="modal-header">
					<button type="button" class="close" style="margin-top: -0.10rem;" ng-click="ok()"><span aria-hidden="true" >×</span><span class="sr-only">close</span></button>
				</div>
				<div class="modal-body" id="Modal">
					<p class="clearfix">
						<span class="tip pull-left">Matching...</span>
						<span class="pull-right pr20 mb20">Identification Code:{{bindInfo.code}}</span>
					</p>
					<div class="clearfix pt5">
						<div class="pull-left">
							<h4>{{bindInfo.studentName}}</h4>
							<span>Keypad</span>
						</div>
						<div class="pull-right">
							<img src="../../image/datiqi.png" />
						</div>
					</div>
					<h4 class="clearfix text-center">
							<span>{{bindInfo.accomplish}} Completion Pairing</span>/<span>{{bindInfo.notAccomplish}} Not Paired</span>
						</h4>
					<div id="refreshBindCard" ng-click="refreshBindCard()" style="display:none;"></div>
				</div>
			</form>
		</script>
		<!--新增学生start-->
		<script type="text/ng-template" id="addStudentModal.html">
			<form class="form-horizontal clearfix" role="form" name="myForm" novalidate="novalidate">
				<div class="modal-header">
					<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">close</span></button>
					<h4 class="modal-title">{{title}}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="firstname" class="col-sm-3 control-label">Student ID</label>
						<div class="col-sm-8">
							<input type="text" autocomplete="off" name="studentId" value="" class="form-control" ng-model="student.studentId" required ng-pattern="/^[0-9]\d*$/" maxlength="10" onkeyup="this.value=this.value.replace(/[^\w]/g,'');" placeholder="Please enter a number no longer than 10 digits" ng-change="blurStunum()" />
						</div>
						<span ng-show="myForm.studentId.$invalid" class="warning">*</span>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-sm-3 control-label">Name</label>
						<div class="col-sm-8">
							<input type="text" autocomplete="off" name="studentName" value="" class="form-control" ng-model="student.studentName" required maxlength="10"  placeholder="Please enter a length of no more than 10 characters" />
						</div>
						<span ng-show="myForm.studentName.$dirty&&myForm.studentName.$invalid" class="warning">*</span>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-sm-3 control-label">Keypad ID</label>
						<div class="col-sm-8">
							<input type="text" autocomplete="off" name="iclickerId" id="" value="" class="form-control" ng-model="student.iclickerId" ng-pattern="/^\d{10}$/" maxlength="10" placeholder="Please enter a number of 10 digits in length" onkeyup="this.value=this.value.replace(/[^\w]/g,'');" ng-blur="blurDevicenum(myForm.iclickerId.$dirty)" required/>
						</div>
						<span ng-show="myForm.iclickerId.$invalid" class="warning">*</span>
					</div>
				</div>
				<div class="modal-footer text-center">
					<button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="myForm.$invalid">Ok</button>
					<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

				</div>
			</form>
		</script>
		<div class="header clearfix">
			<div class="pull-left">
				<img src="../../image/set.png" class="ml25" />
				<span>Student Management</span>
			</div>
			<div class="pull-right">
				<img src="../../image/return.png" class="rebtn" ng-click="returnPage()" title="Go Back"/>
			</div>
		</div>
		<div ng-cloak class="content content1 bgf5 clearfix">
			<div class="opbtn clearfix mb20 bgf5">
				<a href="javascript:;" ng-click="addClass()">Add Class</a>
				<a href="javascript:;" ng-click="quickBind()" style="width: auto" class="pr10">Quick Pairing</a>
				<a href="javascript:;" ng-click="patchImport()" style="width: auto;" class="pr10">Import NameList</a>
				<!--	<a href="javascript:;" ng-click="serverImport()">服务获取学生</a>-->
				<a href="javascript:;" ng-click="addStudent()" style="width: auto" class="pr10">Insert Student</a>
				<a href="javascript:;" class="warning" ng-click="deleteStudent()">Delete</a>
				<a href="javascript:;" class="warning" ng-click="unbindStu()">Unpair</a>
				<a href="javascript:;" class="warning" ng-click="clearStu()" style="width: auto">Clear All Pairing</a>
			</div>
				<div class="pannel clearfix" style="position: absolute; top:.6rem ; left: 0.20rem; right: 0; bottom: .25rem;overflow-x: hidden">
					<div class="col-sub pull-left"  style="overflow-x: hidden;position: absolute;top: 0; overflow-y: auto;  width:20%; height: 100%;">
				<table class="table table-stripe classlist" >
					<thead>
						<tr>
							<th>Class List</th>
						</tr>
					</thead>
				</table>
				<div style="position: absolute; top: 0.38rem; left: 0; right: 0; bottom: 0; overflow-y: auto;overflow-x: hidden !important;"  id="classlist">
				<table class="table table-stripe classlist">
					<!--<thead>
						<tr>
							<th>班级列表</th>
						</tr>
					</thead>-->
					<tbody>
						<tr ng-repeat="item in classList track by $index" ng-click="changeClass(item,$index)" style="width: 100%;" title="{{item.className}}">
							<td >
								<span class="sub" ng-class="{'1': 'green', '0': 'grey'}[item.atype]"></span>
								<span class="name hidename" ng-class="{active:isActive == $index}" style="display:inline-block; width: 30%;vertical-align: middle;">{{item.className}}</span>
								<a href="javascript:;" class="del pull-right pr5" ng-click="$event.stopPropagation();deleteClass(item)">delete</a>
								<a href="javascript:;" class="edit pull-right pr5" ng-click="$event.stopPropagation();editClass(item,$index)">edit</a>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
				<div class="col-main pull-left" style=" position: absolute; left: 20%; top: 0px; bottom: 0; right: 0;overflow-x: hidden;overflow-y: auto;height: 100%; width:79%;  ">
					<table class="table table-stripe userlist" >
						<thead>
							<tr>
								<th style="width: 5%;">NO.</th>
								<th style="width: 10%;">Student ID</th>
								<th style="width: 10%;">Name</th>
								<th style="width: 10%;">Keypad ID</th>
								<th style="width: 15%;">Pairing Status</th>
								<th style="width: 10%;">Operation</th>
								<th style="width: 10%;" class="pr1">Select All
									<label style="margin-bottom: 0;"><input type="checkbox" class="allCheck" ng-model="selected" ng-change="selectAll()"></label></th>
							</tr>
						</thead>
					</table>
					<div style="position: absolute; top: 0.38rem; left: 0; right: 0; bottom: 0; overflow-y: auto;overflow-x: hidden !important;"  id="userlist">
						<table class="table table-stripe userlistchild " style="text-align: left !important;">
							
							<tbody>
								<tr ng-repeat="item in studentList track by $index" ng-click="$event.stopPropagation();" >
									<td style="width: 5%;">{{$index+1}}</td>
									<td style="width: 10%;">{{item.studentId}}</td>
									<td style="width: 10%;" title="{{item.studentName}}">{{item.studentName}}</td>
									<td style="width: 10%;">{{item.iclickerId}}</td>
									<td style="width: 15%;">{{item.status=='1'?'Paired':'Unpaired'}}</td>
									<td style="width: 10%;">
										<a href="javascript:;" class="edit" ng-click="updateStdent(item)">edit</a>
									</td>
									<td style="width: 10%;" class="ml5 "><input type="checkbox" style="margin-left: 0.32rem;"  ng-model="item.checked" class="ml32" name="check" ng-change="selectOne()" ng-click="$event.stopPropagation();"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div id="removeLoading" ng-click="removeLoading()" style="display:none;"></div>
		<div id="showLoading" ng-click="showLoading()" style="display:none;"></div>
		<div id="refreshClass" ng-click="refreshClass()" style="display:none;"></div>
		<div id="refreshStudent" ng-click="refreshStudent()" style="display:none;"></div>
		<div id="getTip" ng-click="getTip()" style="display:none;"></div>
	</body>

</html>

<script>
	$(document).ready(function() {
		var nice = $("html").niceScroll(); // The document page (body)
		/*	$("userlist").html($("#userlist").html()+' '+nice.version);*/
		$("#userlist").niceScroll({
			cursorborder: "",
			cursorcolor: "#d9d9d9",
			boxzoom: false
		}); // First scrollable 
		$("#classlist").niceScroll({
			cursorborder: "",
			cursorcolor: "#d9d9d9",
			boxzoom: false
		}); // First scrollable DIV
		$('.classlist tbody tr td').click(function() {
			$(this).find('span.name').addClass('active').siblings().removeClass('active');
		})
		$('.single1').multiselect({
			multiple: false,
			selectedHtmlValue: 'Please select'
		});
	});
</script>