<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8" />
		<title>答题页面</title>
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
		<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />	
		<link rel="stylesheet" href="../../css/bootstrap.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/page.css" />
		<script src="../../js/angular.js" type="text/javascript" charset="utf-8"></script>			
		<script src="../../js/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<link rel="stylesheet" href="../../js/angular-toastr/angular-toastr.min.css" />
		<script src="../../js/angular-toastr/angular-toastr.min.js"></script>
		<script src="../../js/angular-toastr/angular-toastr.tpls.min.js"></script>
		<script src="../../js/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="../../js/select/style.css" />
		<link href="../../js/select/font-awesome.min.css" />
		<script type="text/javascript" src="../../js/select/select.jquery.js" ></script>
		<script src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.js" ></script>
		<!--<script src="../../js/vconsole.min.js"></script>-->
		<script src="../../js/controllers/setPaperManageController.js"></script>
		  <!--[if IE 8]>
        <script src="js/es5-shim.min.js"></script>        
    	<![endif]-->
		<style type="text/css">
			.upload-btn {
				height: 34px;
				width: 80px;
				border: 1px solid #dcdcdc;
				/*border-radius: 5px;*/
				border-top-right-radius:5px;
				border-bottom-right-radius:5px;
				overflow: hidden;
				position: relative;
				color: #626262;
				text-align: center;
				line-height: 34px;
				background: #f1f1f1;
				color: #939393;
			}
			.upload-btn input[type=file] {
				position: absolute;
				top: 0;
				right: 0;
				opacity: 0;
				filter: alpha(opacity=0);
				cursor: pointer;
			}
			.upload-btn span:after {
				content: '';
				display: inline-block;
				height: 5px;
				width: 8px;
				background: url("../../image/arrow.png") no-repeat center center;
				margin-left: 10px;
				margin-top: -3px;
			}
			.newSelect,.newOptions{
				width: 250px !important;
				max-height: 300px !important;
			}
		</style>
	</head>
	<body class="bg" ng-controller="setPaperManageCtrl">	
		<div id="myModal" class="modal fade" data-keyboard="false" data-backdrop="static" data-role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div id="loading" class="loading">Data loading</div>
		</div>
		<!--确认弹框-->
			<script type="text/ng-template" id="sureModal.html">
				<form name="myForm" novalidate="novalidate">
					<div class="modal-header">
						<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">close</span></button>
						<h4 class="modal-title">confirm</h4>
					</div>
					<div class="modal-body">
						{{content}}
					</div>
					<div class="modal-footer text-center">
						<button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="!myForm.$valid">sure</button>
						<button type="button" class="btn btn-default" ng-click="cancel()">cancel</button>
			
					</div>
			</form>
			</script>
			<!--导入试卷-->
			<script type="text/ng-template" id="importFile.html">
			<form name="myForm" class="form-horizontal clearfix" role="form" novalidate="novalidate">
				<div class="modal-header">
					<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
					<h4 class="modal-title">Import Paper</h4>
				</div>
				<div class="modal-body" >
					<div class="form-group">
					  	<label for="firstname" class="col-sm-3 control-label">Select Type</label>
					    <div class="col-sm-8">
				    	<select class="single" select ng-model="fileType" defalutvalue='fileType1' ng-change="changefileType(fileType)" >
				   			<option value="0">local</option>
				   			<option value="1">Server</option>
						</select>
						</div>
					</div>
					<div class="form-group" ng-if="fileType=='0'">
					  	<label for="firstname" class="col-sm-3 control-label">File</label>
						<div class="col-sm-8" style="position:relative;">
							<input type="text" readonly="readonly" class="form-control" id="filename" style="overflow: hidden;text-overflow: ellipsis;"/>
							<div class="upload-btn" style="position:absolute;right:14px;top:0px;">
								<span>Import</span>
								<input type="file" name=""  id="uploadFile" value=""  validFile onchange="angular.element(this).scope().fileChanged(event)" />

							</div>
						</div>
						<span ng-show="myForm.file.$invalid" class="warning">*</span>
					</div>
					<div class="form-group" ng-if="fileType=='1'">
					  	<label for="firstname" class="col-sm-3 control-label">select class</label>
					    <div class="col-sm-8">
				    	<select class="single" select2 ng-model="selclass" defalutvalue='selclass1' list="classList" ng-change="changeClass(selclass)" >
				   			<option ng-repeat="classitem in classList track by $index" value="{{classitem}}">{{classitem.value}}</option>
						</select>
						<span ng-show="myForm.file.$invalid" class="warning">*</span>
						</div>
					</div><div class="form-group" ng-if="fileType=='1'">
					  	<label for="firstname" class="col-sm-3 control-label">select subject</label>
					    <div class="col-sm-8">
				    	<select class="single" select1 ng-model="selsubject" defalutvalue='selsubject1' list="sujectlists" ng-change="changeSubject(selsubject)" >
				   			<option ng-repeat="subjectitem in sujectlists track by $index" value="{{subjectitem}}">{{subjectitem}}</option>
						</select>
						<span ng-show="myForm.file.$invalid" class="warning">*</span>
						</div>
					</div>
				<div class="modal-footer text-center">
					<button type="button" class="btn btn-primary" ng-click="ok()" ng-if="fileType=='1'">sure</button>
					<button type="button" class="btn btn-primary" ng-click="ok()" ng-if="fileType=='0'" ng-disabled="!myForm.$valid">sure</button>
					<button type="button" class="btn btn-default" ng-click="cancel()">cancel</button>
		
				</div>				
			</form>
			</script>
			<!--科目列表-->
			<script type="text/ng-template" id="selsubjectModal.html">
				<form name="myForm" class="form-horizontal clearfix" novalidate="novalidate">
					<div class="modal-header">
						<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">close</span></button>
						<h4 class="modal-title">Select Subject</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
					  	<label for="firstname" class="col-sm-3 control-label">Select Subject</label>
					    <div class="col-sm-8">
				    	<select class="single" select1  ng-model="selsubject" defalutvalue='selsubject1' list="sujectlists">
				    		<option ng-repeat="subject in sujectlists track by $index" value="{{item}}" name="subject">{{item}}</option>
						</select>
						</div>
						<span ng-show="myForm.subject.$invalid" class="warning">*</span>
						</div>
					</div>
					<div class="modal-footer text-center">
						<button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="!myForm.$valid">Sure</button>
						<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
					</div>
			</form>
			</script>
				
			<!--选择服务文件-->
			<script type="text/ng-template" id="selserverFile.html">
				<form name="myForm" class="form-horizontal clearfix" novalidate="novalidate">
					<div class="modal-header">
						<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
						<h4 class="modal-title">Select Service File</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
					  	<label for="firstname" class="col-sm-3 control-label">select paper</label>
					    <div class="col-sm-8">
				    	<select class="single" select2  ng-model="selserverFile" defalutvalue='selserverFile1' list="serverFileList" ng-change="changeserFile(selserverFile)">
				    		<option ng-repeat="serverFile in serverFileList track by $index" value="{{serverFile}}" name="subject">{{serverFile.value}}</option>
						</select>
						</div>
						<span ng-show="myForm.subject.$invalid" class="warning">*</span>
						</div>
					</div>
					<div class="modal-footer text-center">
						<button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="!myForm.$valid">Sure</button>
						<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
			
					</div>
			</form>
			</script>
			<div class="header clearfix">
				<div class="pull-left">
					<img src="../../image/set.png" class="ml25" />
					<span>Test Management</span>
				</div>
				<div class="pull-right">
					<img src="../../image/return.png" ng-click="returnPage()" class="rebtn" title="Go Back"/>
				</div>
			</div>
			<div ng-cloak class="content content1 bgf5 clearfix">
				<div class="opbtn clearfix mb20">
				  	<a href="javascript:;" ng-href="{{objectUrl}}" ng-click="addTestPaper()">Add Paper</a>
				  	<a href="javascript:;" ng-click="importPaper()">Import</a>
			  	</div>
			  	<div class="pannel clearfix" style="position: absolute; top:0.45rem ; left: 0.20rem; right: 0.25rem; bottom: .25rem;overflow-x: hidden">
			  			<div class="col-main" style=" overflow-x: hidden;overflow-y: auto;height: 100%; width:100%; position: absolute; left: 0; top: 0; bottom: 0; right: 0; " >
			  			<table class="table table-stripe userlist">
						<thead>
							<tr >
								<th style="width: 5%;">NO.</th>
								<th style="width: 8%;">Subject</th>
								<th style="width: 10%;">Test Name</th>
								<th style="width: 25%;">Description</th>
								<th style="width: 10%;">Operation</th>
							</tr>
						</thead>
					</table>
					<div style="overflow-x: hidden;position: absolute; top: 0.36rem; left: 0rem; right: 0rem; bottom: 0rem; overflow-y: auto;"  id="testlist">
					<table class="table table-stripe userlist text-left" >
						<tbody>
							<tr ng-repeat="paperInfo in paperInfoList track by $index">
								<td style="width: 5%;">{{$index+1}}</td>
								<td style="width:8%;">{{paperInfo.subject}}</td>
								<td style="width: 10%;">{{paperInfo.testName}}</td>
								<td style="width: 25%;">{{paperInfo.describe}}</td>
								<td style="width: 10%;"><a ng-href="{{objectUrl}}" class="edit mr5" ng-click="editPaper(paperInfo)">edit</a><a href="javascript:;" class="del" ng-click="delPaper(paperInfo)">delete</a></td>
							</tr>
							
							</tbody>
						</table>
					</div>
					</div>
			  	</div>
			  </div>
			<div id="removeLoading" ng-click="removeLoading()" style="display:none;"></div>
			<div id="showLoading" ng-click="showLoading()" style="display:none;"></div>
			<div id="refreTestPaper" ng-click="refreTestPaper()" style="display:none;"></div>
			<div id="getTip" ng-click="getTip()" style="display:none;"></div>
			<div id="refreTestPaper2" ng-click="refreTestPaper2()" style="display:none;"></div>

	</body>
</html>
<script src="../../js/jquery.nicescroll.min.js"></script>
<script>
	function editPaper(){
		window.location.href="../../page/setmodule/edittestPage.html";
	}
	 $(document).ready(function() { 
	var nice = $("html").niceScroll();  // The document page (body)
	 $("#testlist").niceScroll({cursorborder:"",cursorcolor:"#d9d9d9",boxzoom:true}); // First scrollable 
  });
</script>

